#background{
	background-repeat: no-repeat;
	background-image: url("images/Mirage.png");
	height: 120vh;
	background-size: cover;
}


#big-picture{
	position: absolute;
	width: 289.5px;
	height: 580px;
	left: 575px;
	top: 109px;
}

.small-picture1{
	position: absolute;
	width: 313px;
	height: 89px;
	left: 525px;
	top: 735px;
}

.small-picture2{
	position: absolute;
	width: 313px;
	height: 89px;
	left: 900px;
	top: 735px;
}

.left-footer{
	position: absolute;
	width: 412px;
	height: 40px;
	left: 10px;
	top: 1120px;

	font-family: Quantico;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	letter-spacing: 0.0104348em;

	color: #000000;
}

.right-footer{
	position: absolute;
	width: 412px;
	height: 40px;
	left: 1480px;
	top: 1120px;

	font-family: Quantico;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-align: right;
	letter-spacing: 0.0104348em;

	color: #000000;
}

#footer{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  	background: white;
 	transition: all 0.3s ease;
 	height: 20px;
 	padding-bottom: 0px;
  	/*display: flex;*/
  	align-items: center;
  	justify-content: space-between;

}